@using System.Diagnostics.CodeAnalysis
@attribute [ExcludeFromCodeCoverage]

@model IEnumerable<Project.Models.FuelHistory>

<div class="container ">
    <div class="row pt-4 pb-3">

        <div class="col-6">
            <h1 class="text-primary">
                Fuel Quote History
            </h1>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="FuelQuote" asp-action="Index" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>More Quote
            </a>
        </div>

    </div>

    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Gallons Requested
                </th>
                <th>
                    Delivery Address
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GallonsRequested</td>
                    <td>@item.DeliveryDate</td>
                    <td>@item.DeliveryAddress</td>
                    <td>@item.SuggestedPrice</td>
                    <td>@item.TotalAmountDue</td>
                </tr>
            }
        </tbody>
    </table>
</div> 